.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.custom-container {
  padding-left: 3rem;
  padding-right: 3rem;
}

.centered-flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered-flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.align-table-text-center {
  text-align: center;
}

table.align-table-text-center tr td:first-child {
  text-align: left;
}

table.align-table-text-center thead tr th:first-child {
  text-align: left;
}

.align-table-text-end {
  text-align: end;
}

table.align-table-text-end tr th:first-child {
  text-align: left;
}

.ellipsis-cell {
  max-width: 220px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.ellipsis-expanded {
  white-space: normal;
  overflow: visible;
}


.btn-ameripro-red {
    --bs-btn-color: #ffffff;
    --bs-btn-bg: #c62828;
    --bs-btn-border-color: #c62828;

    --bs-btn-hover-color: #ffffff;
    --bs-btn-hover-bg: #a82222;
    --bs-btn-hover-border-color: #9e2020;

    --bs-btn-focus-shadow-rgb: 207, 72, 72;

    --bs-btn-active-color: #ffffff;
    --bs-btn-active-bg: #9e2020;
    --bs-btn-active-border-color: #951e1e;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);

    --bs-btn-disabled-color: #ffffff;
    --bs-btn-disabled-bg: #c62828;
    --bs-btn-disabled-border-color: #c62828;
}

.btn-ameripro-blue {
    --bs-btn-color: #ffffff;
    --bs-btn-bg: #22356f;
    --bs-btn-border-color: #22356f;

    --bs-btn-hover-color: #ffffff;
    --bs-btn-hover-bg: #1d2d5e;
    --bs-btn-hover-border-color: #1b2a59;

    --bs-btn-focus-shadow-rgb: 67, 83, 133;

    --bs-btn-active-color: #ffffff;
    --bs-btn-active-bg: #1b2a59;
    --bs-btn-active-border-color: #1a2853;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);

    --bs-btn-disabled-color: #ffffff;
    --bs-btn-disabled-bg: #808080;
    --bs-btn-disabled-border-color: #808080;
}

.btn-ameripro-blue-alt {
    --bs-btn-color: #ffffff;
    --bs-btn-bg: #22356f;
    --bs-btn-border-color: #22356f;

    --bs-btn-hover-color: #ffffff;
    --bs-btn-hover-bg: #1d2d5e;
    --bs-btn-hover-border-color: #1b2a59;

    --bs-btn-focus-shadow-rgb: 67, 83, 133;

    --bs-btn-active-color: #ffffff;
    --bs-btn-active-bg: #1b2a59;
    --bs-btn-active-border-color: #1a2853;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);

    --bs-btn-disabled-color: #ffffff;
    --bs-btn-disabled-bg: #22356f;
    --bs-btn-disabled-border-color: #22356f;
}

.btn-ameripro-red-alt {
    --bs-btn-color: #ffffff;
    --bs-btn-bg: #c62828;
    --bs-btn-border-color: #c62828;

    --bs-btn-hover-color: #ffffff;
    --bs-btn-hover-bg: #a82222;
    --bs-btn-hover-border-color: #9e2020;

    --bs-btn-focus-shadow-rgb: 207, 72, 72;

    --bs-btn-active-color: #ffffff;
    --bs-btn-active-bg: #9e2020;
    --bs-btn-active-border-color: #951e1e;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);

    --bs-btn-disabled-color: #ffffff;
    --bs-btn-disabled-bg: #808080;
    --bs-btn-disabled-border-color: #808080;
}